.vs/HReception/xs/sqlite3/db.lock
.vs/HReception/xs/sqlite3/storage.ide
.vs/HReception/xs/sqlite3/storage.ide-shm
.vs/HReception/xs/sqlite3/storage.ide-wal
.vs/HReception/xs/UserPrefs.xml
_BundleResourceWithLogicalName.items
_PartialAppManifest.items
*g.cs
*/bin/*
UserPrefs.xml
HReception.iOS/obj
HReception.Logic/obj
HReception/obj
HReception.UI/obj
HReception.Core/obj
*.user
